body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./resources/Norse-Bold.otf");
}
a,
a:link,
a:visited {
  color: white;
}

a:hover {
  color: lightseagreen;
}

.sidebar_container {
  flex: 2;
  border: 5px solid black;
  background-image: url("./resources/sidebar.jpg");
  background-size: cover;
  color: white;
  background-color: lightblue;
}

.sidebar_container > p {
  position: relative;
  bottom: calc(-100% + 40px);
  text-align: center;
  font-size: 0.8rem;
}

.sidebar_container > .logo_section {
  position: relative;
  top: calc(22%);
  text-align: center;
  font-family: "Norse Bold";
  font-size: 6rem;
  background-color: rgba(90, 90, 90, 0.65);
}

.sidebar_container > .logo_section > * {
  display: inline;
  vertical-align: middle;
}

.main_container {
  flex: 4;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.explainer_text {
  padding-top: 120px;
  background-color: rgba(162, 160, 160, 0.1);
}

.explainer_text > .explainer {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.main_container > * {
  flex: 1;
  padding-right: 200px;
  padding-left: 40px;
}

.contact_Form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 90%;
  justify-content: space-between;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input {
  background-color: #ffffff;
  border: 1px solid #d6d9dc;
  border-radius: 3px;
  width: 250px;
  padding: 7px;
  font-size: 14px;
}

.form-row input:invalid {
  border: 1px solid lightcoral;
}

.form-row input:valid {
  border: 1px solid lightseagreen;
}

.form-row input:focus {
  border: 1px solid blue;
}

.form-row label {
  margin-bottom: 5px;
  font-size: 10px;
  text-transform: uppercase;
}

.submission_area {
  display: flex;
  box-shadow: 0 8px 6px -6px black;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.loginText > a:link,
a:visited {
  color: black;
}

.button_area > .createAccount {
  background-color: #596d48;
  color: white;
  padding: 1rem;
  border-radius: 10px;
}

.button_area > .createAccount:hover {
  background-color: #d55c5f;
}
